/* Green color code: #3e6641;*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
header {
    background-color: #3e6641;
    position:fixed;
    width: 100%;
}
header li, a{
    font-family: "Source Sans 3", serif;
    font-weight: 500;
    font-size: 16px;
    color: #f5efdc;
    text-decoration: none;
}
.navbar li{
    list-style: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link:hover{
    transition: all 0.3s ease 0s;
    color: #7e8f64;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f5efdc;
}

@media(max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #3e6641;
        width: 100%;
        text-align:center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}


button{
    padding: 9px 25px;
    color:#3e6641;
    background-color: rgba(245,239,220,1); /*we use rgba because we are dealing with opactiy changes with the button*/
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
button:hover{
    background-color: rgba(245,239,220,0.8);
}







body{
    background-color: #f5efdc;
}

h1{
    text-align: center;
    font-family: "Abril Fatface", serif;
    color: #3e6641;
    font-size: 5em;
}
p {
    font-family: "Source Sans 3", serif;
}

ul{
    font-family: "Source Sans 3", serif;
}
/*Style for "about" div*/
.about {
    display: flex;  
    /* align-items: flex-start; */
    /* align-items: center; */
    flex-direction:column;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 130px;
    padding-bottom: 40px;
    margin-right: 10%;
    margin-left: 10%;
}

/*Style for header2 in about secion*/
h2{
    font-family: "Abril Fatface", serif;
    color: #3e6641;
    font-size: 3em;
}
.about h2{
    /* text-align: center; */
    text-align:left;
    margin-bottom: 10px;
}

.about p{
    color: #3e6641;
    font-weight: 500;
}

.about ul{
    color: #3e6641;
    font-weight: 500;
}

/*Style for doodles, such as the cartoon self*/
.doodles{
    width: 200px;
    height: auto; 
    margin: 0 auto;
    flex-shrink: 0;
}

/*Style for text in about section*/
#about-text {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

#about-text h2,
#about-text p,
#about-text ul {
    margin: 0;
}

h3{
    /* text-align: center; */
    text-align:left;
    font-family: "Abril Fatface", serif;
    color: #3e6641;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* #quick-links{
    display:flex;
    flex-direction:;
    align-items: end;
} */
#quick-links-container{
    display:flex;
    flex-direction:column;
}
#quick-links-container a{
    color:#3e6641;
    text-decoration:underline dashed;
    transform: scale(1);
    transition: all 0.3s ease-in-out 0s;
}
#quick-links-container a:hover{
    font-weight: bold;
}

.quick-links li{
    list-style:none;
}

.quick-links{
    display:flex;
    justify-content:flex-start;
    gap: 20px;
}


/*Style for About page*/
.page-title{
    padding-top: 130px;
    padding-bottom: 60px;
    text-align: center;
}

.info-columns{
    margin-right: 10%;
    margin-left: 10%;
    display:flex;
    flex-wrap:wrap;
    
    gap: 20px;
}


.info-box {
    /* flex: 1 1 45%; */
    flex:auto;
    min-width:250px;
    max-width:48%;

    padding: 20px;


    box-sizing: border-box;
}
@media(max-width: 768px){
    .info-box {
        /* flex: 1 1 45%; */
        flex:auto;
        min-width:250px;
        max-width:none;

        padding: 20px;


        box-sizing: border-box;
    }
}